@{
    ViewBag.Title = "Pedido de Empanadas!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Pedido nuevo</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum urna quis quam suscipit rhoncus.</p>
</div>
<div class="container">
    <div class="col-lg-12">
        Estado de tu pedido
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                <span class="sr-only">45% Complete</span>
            </div>
        </div>
    </div>
    <div class="col-lg-8" style="border-style:solid;">
        <div class="row">
            <h3>Promos del dia </h3>
            <h5>Descripcion de las promos del dia</h5>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <h3>Empanadas</h3>
            <h5>Descripcion de las empanadas</h5>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h3>Bebidas</h3>
            <h5>Descripcion de las bebidas</h5>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">+</span>
                        Cras justo odio
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4" style="border-style:solid;">
        Estilo carrito
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
        </ul>
        <br />
        <br />
        <div class="col-lg-12">
            <button class="btn btn-info btn-block">
                Continuar pedido
            </button>
        </div>
        <br /><br />
        <div class="col-lg-12">
            <button class="btn btn-info btn-block">
                Continuar pedido
            </button>
        </div>
        <br /><br />
    </div>
</div>
