@{
    ViewBag.Title = "Contact";
}
<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-12">

        <!-- Title -->
        <h1 class="mt-4">Un poco de nosotros!</h1>

        <hr>

        
        <!-- Post Content -->
        <p class="lead">
            La empresa fue fundada en el año 2005 en zona oeste.

            Nos dedicamos a la elaboración y comercialización de  empanadas, manteniendo siempre el sabor de lo casero.

            Todos nuestros productos son elaborados en las instalaciones propias de la empresa con materia prima de alta calidad y cumpliendo con todas las normas de seguridad e higiene necesarias.

            En el año 2013, comenzamos con el formato de FRANQUICIAS y ampliamos la fábrica para continuar creciendo cada día. Actualmente contamos con 14 franquicias y 6 locales propios distribuidos en diferentes locali dades de zona norte, sur, oeste y Capital Federal.-

            Trabajamos con el único objetivo de satisfacer a nuestros clientes, ofreciéndoles la mejor atención y la excelencia de nuestros productos.

            "Seguimos creciendo, apostando y mejorando juntos"

        </p>



       

    </div>



</div>


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>